{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            
            <h1>Agendados</h1>
            <p>Seu agendamento foi realizado</p>
            
            <div>
                detalhes do agendamento
            </div>
        </div>
        {{ dump(info)}}
    </div>
    
{% endblock %}